<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.blogtalk">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".Services.FirebaseData"
        android:allowBackup="true"
        android:icon="@drawable/newicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/newicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.WalkthroughActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TermsActivity"
            android:label="Terms &amp; Conditions "
            android:parentActivityName=".Activities.RegisterActivity" />
        <activity
            android:name=".Activities.PublicChatActivity"
            android:label="Chat"
            android:parentActivityName=".Activities.Home"/>
        <activity
            android:name=".Activities.DeleteAccountActivity"
            android:label="Delete Account"
            android:parentActivityName=".Activities.Home"/>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".Activities.Home"/>
        <activity android:name=".Activities.PostDetailActivity"
            android:parentActivityName=".Activities.Home"/>
        <activity
            android:name=".Activities.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8905933817304333~6459805873"/>
    </application>

</manifest>